<div>
<form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Título del curso</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Título">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Categoría</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Tecnología</option>
                <option>Ciencia</option>
                <option>Arte</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Créditos</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </form>

    <button type="button" class="btn btn-primary">Crear Curso</button>
</div>