
<div class="index-bg">

<div class="container justify-content-between">

  <div class="row align-items-center">
    <div class="col">
      <img class="" src="https://res.cloudinary.com/djgqc9rrx/image/upload/v1574954681/dynamic/index_uwyxcq.png" alt="">
    </div>

    <div class="col-5">
       <h1 class="card-titulo">¿Dominas algún tema?</h1>
       <h1 class="card-titulo">¿Quieres aprender algo?</h1>
          <p class="card-text">¿Ciencias? ¿Arte? ¿Tecnología?</p>
          <form action="/signUp" method="GET">
          <button type="submit" class="btn btn-primary">Inscríbete</button>
        </form>
    </div>

  </div>
</div>


</div>


