
<div class="index-bg">

<div class="container justify-content-between">

  <div class="row align-items-center">
    <div class="col-md-5">
      <img class="img-land" src="https://res.cloudinary.com/djgqc9rrx/image/upload/v1574954681/dynamic/index_uwyxcq.png" alt="">
    </div>
    <div class="col-md-2"></div>

    <div class="col-md-5 p-cita">
       <h1 class="card-titulo">¿Dominas algún tema?</h1>
       <h1 class="card-titulo">¿Quieres aprender algo?</h1>
          <p class="card-text">¿Ciencias? ¿Arte? ¿Tecnología?</p>
          <form action="/signUp" method="GET">
          <button type="submit" class="btn btn-primary">Inscríbete</button>
        </form>
    </div>

  </div>
</div>
</div>

<div class="container">
  <div class="row justify-content-center">  
  <h1 class="p-cita">Conecta el conocimiento</h1>
  </div>
</div>


<div class="container favi-container">
  <div class="row justify-content-center">
    <div class="card-group">
  <div class="card">
    <i class="fas fa-file-signature favi"></i>
    <div class="card-body">
      <h5 class="card-title">Inscríbete</h5>
      <p class="card-text">Para poder ver los cursos, es necesario que tengas una cuenta.</p>
    </div>
  </div>
  <div class="card">

    <i class="fas fa-folder-plus favi"></i>
    <div class="card-body">
      <h5 class="card-title">Crea un curso</h5>
      <p class="card-text">Ayuda a la comunidad generando conocimiento.</p>
     
    </div>
  </div>
  <div class="card">
    <i class="fas fa-chalkboard-teacher favi"></i>
    <div class="card-body">
      <h5 class="card-title">Toma un curso</h5>
      <p class="card-text">Inscríbete en el curso que más llame tu atención.</p>
      
    </div>
  </div>
</div>
  </div>
</div>