
<p>Welcome to Dynamic Course</p>

<div>
  <form action="/signUp" method="GET">
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>

<div>
  <form action="/login" method="GET">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>