body {
  padding: 0px;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-size: cover;
  background-color: #f5f3fb; }

.navbar {
  margin: 0px;
  padding: 0px; }

a {
  /*color: #00B7FF;*/ }

#div-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*background-color: brown;*/ }

.courses-list {
  margin: 10px; }

.card-img-top {
  background-size: 50px; }

.bg-nav {
  background-color: #2e1ab0 !important; }

.custom-nav {
  margin-left: 70%;
  color: white; }

.img-logo {
  width: 100px;
  height: 50;
  margin-left: 20px; }

.navbar-light .navbar-nav .nav-link {
  color: orange !important; }

.index-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 119px 0; }

.card-text {
  font-size: 18px; }

.card-titulo {
  font-size: 60px;
  font-weight: 700; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: #ff5c14 !important; }

.container-custom {
  margin-top: 150px;
  font-size: 18px;
  font-weight: 700;
  height: 70vh; }

.footer-custom {
  background-color: #eee6ff; }

.row div h2 {
  text-align: center; }

.botones-courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.card-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.alinea-btn {
  display: flex;
  justify-content: space-evenly; }

.img-car-curso {
  width: 100%; }

.listas {
  width: 100%; }

.fotito {
  display: flex;
  align-items: center; }

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3498db;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px; }

.testheight {
  height: 1200px;
  font-size: 20px;
  text-align: center;
  padding: 100px 20px; }

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px; }

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  background: rgba(178, 178, 178, 0.7);
  padding: 20px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.scroll:hover {
  background: #b2b2b2;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.scroll:hover .fa {
  padding-top: -10px; }

.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s; }

.eliminado {
  text-align: center;
  display: flex;
  justify-content: center;
  color: green; }

.caja {
  background-color: #f2b04e;
  height: 96px;
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  align-items: center; }

.caja h1 {
  margin-top: 10px; }

.barra {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row; }

.boton-crear {
  display: flex;
  align-items: center;
  margin-left: 30px; }

blockquote {
  font-size: 25px;
  font-weight: 700;
  color: #3c3d40; }

.cont-custom {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  height: 70vh; }

.blockq {
  margin-top: 30px;
  display: flex;
  justify-content: center; }

.under {
  border-bottom: 2px solid darkviolet; }

.under-green {
  border-bottom: 2px solid  #34eb98; }

.favi {
  font-size: 45px;
  color: #34eb98;
  margin-left: 20px; }

.favi-container {
  margin: 30px 0; }

.contenedor-custom {
  margin-top: 70px;
  font-size: 18px;
  font-weight: 700;
  height: 70vh; }

.img-land {
  width: 100%; }

.white {
  text-decoration: none;
  color: white; }

.formulario {
  width: 50%; }

.disponibles {
  margin-left: 20px; }

.btn-azul {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 5px;
  height: 40px; }

@media (min-width: 300px) and (max-width: 760px) {
  .formulario {
    width: 90%; }
  .caja {
    height: 170px; }
  .img-land {
    width: 70%;
    margin-left: 40px;
    margin-bottom: 10px; }
  .p-cita .diponibles {
    margin-left: 16px; }
  .index-bg {
    padding-top: 20px; }
  .card-titulo {
    font-size: 40px; }
  .viaje {
    margin-left: 17px;
    font-size: 16px; }
  .hesiodo {
    padding: 0 10px; }
  .nombre {
    font-size: 35px; }
  .error {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */